* {
    box-sizing: border-box;
}

* {box-sizing: border-box}
/*Register*/
.container {
    margin-top:10%;
    margin-right: 50%;
    size: inherit;
    display: inline-block;
    height:inherit;
    float:right;
}
input[type=text], input[type=password], input[type=email] {
    width: 80%;
    padding: 3.5%;
    margin: 5px 0 5px 0;
    font-size: large;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}
.registerbtn {
    background-color: orangered;
    color: white;
    padding: 3.5% 20%;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}
a {
    color: orangered;
}
/*BackGround*/
body{
    background: url("register.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}
/*NAVBAR*/
ul {
    list-style-type: none;
    margin: 0;
    left:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 120px;
    text-decoration: none;
    font-size: 25px;
    color: orangered;
}

li a:hover {
    background-color: #111;
}
/*RECOMEND*/
.recomend{
    margin-top:11%;
    margin-left: 10%;
    color: white;
    float: left;
    font-size: 12px;
}
.logo{
    float:right;
}
